BIGQUERY_PROJECT_ID=UNCONFIRMED
BIGQUERY_DATASET_ID=UNCONFIRMED
BIGQUERY_AGENT_SCORES_TABLE=agent_scores

GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_APPLICATION_CREDENTIALS=

NEXT_PUBLIC_APP_URL=http://localhost:3000
IPFS_GATEWAY_BASE_URL=https://ipfs.io/ipfs/
X402_PROBE_TIMEOUT_MS=5000

X402_DEMO_NETWORK=eip155:8453
X402_DEMO_ASSET=UNCONFIRMED
X402_DEMO_PAY_TO=UNCONFIRMED
X402_DEMO_AMOUNT=10000
